{% extends 'base.html' %}

{% block title %}
Блог
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>Регистрация</h1>
  <p>
    {% with messages = get_flashed_messages() %}
           {% if messages %}
           <ul>
               {% for message in messages %}
               <li style="list-style-type: none; color: red; margin-left:-30px;">{{ message }}</li>
               {% endfor %}
           </ul>
           {% endif %}
    {% endwith %}
  </p>
  <form method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.username(size=64, class="form-control", placeholder="Введите логин") }}
    </p>
    <p>
    {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    </p>
    <p>
      {{ form.password(size=255, class="form-control", placeholder="Введите пароль") }}
    </p>
    <p>
    {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    </p>
    <p>
      {{ form.password2(size=255, class="form-control", placeholder="Введите пароль еще раз") }}
    </p>
    <p>
    {% for error in form.password2.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    </p>
    <p>{{ form.submit(class="btn btn-success") }}</p>
  </form>
</div>
{% endblock %}
